<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81183833-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81183833-2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SpecialEffects - Samples of special effects based on HTML and javascript</title>
    <meta name="description" content="SpecialEffects, Samples of special effects based on HTML and javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://truemaxdh.github.io/icon.png" type="image/png">
    <link rel="stylesheet" href="https://truemaxdh.github.io/Style/skin.css">
    
    <script src="js/common.js"></script>
    <script src="js/ScratchMosaic.js"></script>
    <script src="js/LighterOverlay.js"></script>
    <script src="js/Afterimage.js"></script>
    <script src="js/Fireworks.js"></script>
    <script src="js/Aurora.js"></script>
    <script src="js/FierySun.js"></script>
    <script src="js/FallingSnows.js"></script>
    <script src="js/Pointillism.js"></script>
    <script src="js/TearAndPaste.js"></script>
    <script src="js/Smoke.js"></script>
    <script src="js/SeaWave.js"></script>
    
    <script>
      function run(runName) {
        el.innerHTML = "";
        if (runName == "scratchMosaic") {
          specialEffects.scratchMosaic(
            el,
            "Special Effects Sample",
            "20px Arial",
            "darkorange",
            "Scratch Mosaic",
            "15px Arial",
            "darkorange",
            "black",
            "lightskyblue"
          );
        } else {
          eval("specialEffects." + runName + "(el);" );
        }
      }
      
      let el;
      const onLoadEx = function() {
        el = document.getElementById("board");
        let runName = "scratchMosaic";
        const _href = window.location.href;
        const _split = _href.split("#");
        if (_split.length >= 2) {
          runName = _split[1];
        } 
        run(runName);
      }
    </script>

  </head>
  <body>  
    <script>var cookieBread = ">Arts>SpecialEffects";</script>
    <script src="https://truemaxdh.github.io/Include/header.js"></script>

    <center>
      {{content}}
      <br>
      <a href="javascript:run('scratchMosaic');">ScratchMosaic</a>
      <a href="javascript:run('lighterOverlay');">LighterOverlay</a>
      <a href="javascript:run('afterimage');">Afterimage</a>
      <a href="javascript:run('fireworks');">Fireworks</a>
      <a href="javascript:run('aurora');">Aurora</a>
      <a href="javascript:run('fierySun');">FierySun</a>
      <a href="javascript:run('fallingSnows');">FallingSnows</a>
      <a href="javascript:run('pointillism');">Pointillism</a>
      <a href="javascript:run('tearAndPaste');">TearAndPaste</a>
      <a href="javascript:run('smoke');">Smoke</a>
      <a href="javascript:run('seaWave');">SeaWave</a>
      
      <div id="board" style="width:800px; height:600px;"></div>
      <br>
      <a class="normalBtn" href="https://github.com/truemaxdh/SpecialEffects">GitHub</a>
    </center>
    <br>
    
    <!--Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- AutoResponse -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7307479428475282"
         data-ad-slot="8718898251"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
